.container {
  max-width: 1050px;
  margin: 5em auto;
  padding: 2em;
  background-color: #f9f9f9;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.5s ease-in-out;
  position: relative;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFA550;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background: #f3f3f3;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  }
  
  .card h3 {
    margin-top: 0;
    color: #ff8c00;
  }
  
  .card p {
    margin: 8px 0;
    color: #444;
  }
  
  ul {
    padding-left: 0;
    list-style: none;
  }
  
  li {
    margin: 4px 0;
    color: #666;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA550;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ff8c00;
  }
  
  .modal {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.backArrow {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 2em;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backArrow:hover {
  color: #FFA550;
  transform: translateX(-5px);
}

