.loginContainer * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.loginContainer .backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/BackgroundImage.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.loginContainer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.loginContainer .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 420px;
    padding: 30px 60px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginContainer .logo {
    display: block;
    margin: 0 auto 10px;
    max-width: 100px;
}

.loginContainer .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.loginContainer .signin {
    font-size: 15px;
    text-align: center;
    color: rgba(51, 51, 51, 0.7);
}

.loginContainer .signin a {
    color: #FFA500;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    text-decoration: none;
}

.loginContainer .signin a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #FFA500;
    transition: width 0.3s ease;
}

.loginContainer .signin a:hover {
    color: #ff8c00;
}

.loginContainer .signin a:hover::after {
    width: 100%;
}

.loginContainer .form label {
    position: relative;
}

.loginContainer .input {
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.loginContainer .input::placeholder {
    font-size: 0.8em;
    font-weight: normal;
}

.loginContainer .input + span {
    color: rgba(51, 51, 51, 0.5);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1em;
    cursor: text;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.loginContainer .input:placeholder-shown + span {
    top: 28px;
    font-size: 1.1em;
}

.loginContainer .input:focus + span,
.loginContainer .input:valid + span {
    color: #FFA500;
    top: 10px;
    font-size: 0.85em;
}

.loginContainer .eye {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #FFA500;
}

.loginContainer .submit {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    transition: background-color 0.3s ease;
    background-color: #FFA500;
    cursor: pointer;
}

.loginContainer .submit:hover {
    background-color: #e69500;
}
.error {
    color: red;
    text-align: center;
    margin-top: 10px; 
    font-weight: bold; 
  }
  