.cardContainer {
    display: flex;
    align-items: center;
    height: 130px;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid #e0a500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.imgContainer {
    width: 150px; 
    height: 100%; 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    border-right: 2px solid #e0a500; 
    margin-right: 0; 
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: inherit;
    display: block; 
}

.description {
    flex: 1;
    padding: 0 15px;
    overflow-y: hidden;
}

.favoriteButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cardContainer {
        flex-direction: column;
        height: auto;
        margin-top: 20px;
    }

    .imgContainer {
        width: 100%; 
        height: 150px; 
        border-right: none;
        border-bottom: 2px solid #e0a500; 
    }

    .description {
        padding: 10px;
        overflow-y: auto;
    }

    .favoriteButton {
        width: 100%;
        height: 40px;
    }
}
